name: Call reusable workflow -> Dagger hello

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: "Release version"
        required: true
        type: string
      tag_prefix:
        description: "Tag prefix"
        required: false
        default: "v"
        type: string
      dry_run:
        description: "Dry run"
        required: false
        default: false
        type: boolean

jobs:
  call-reusable:
    uses: shahbazmastan/reusable-workflows/.github/workflows/dagger-hello.yml@main
    secrets: inherit
    with:
      release_version: ${{ inputs.release_version }}
      tag_prefix: ${{ inputs.tag_prefix }}
      dry_run: ${{ inputs.dry_run }}
